
body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color:grey;
  }
  
  input[type=Email] {
    width: 400px;
    height: 40px;
    display: block;
    border: none;
    background-color: rgb(231, 230, 230);}
  
    input[type=text] {
      width: 400px;
      height: 40px;
      display: block;
      border: none;
      background-color: rgb(231, 230, 230);}

      input[type=password] {
        width: 400px;
        height: 40px;
        display: block;
        border: none;
        background-color: rgb(231, 230, 230);}
  
  .Sales{
     width: 250px;
     display: block;
     padding: 30px;
     border: 30px solid white;
     background-color: white;
     font-weight: bold;}
  
  
  .login-page {background-color: white;
          color: rgb(207, 102, 102);
          width: 400px;
          height: 300px;
          margin: 300px;
          padding: 20px;}
          P { text-align: center }
         
  
          .login {
    background-color: #4CAF50;
    border: none;
    width: 400px;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;}